.AccountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  background-image: linear-gradient(#ffe393, #ffecb0);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  max-width: 100%;
}

.account {
  display: flex;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
  line-height: normal;
}

.username {
  font-size: 1.2em;
  font-weight: 400;
}

.accType {
  font-size: 0.8em;
}

.notificationContainer {
  position: relative;
}

.notificationContainer .notification:hover + .indicator {
  transform: scale(1.1);
}

.settingsbtn {
  display: flex;
}

.notification,
.settings {
  border: 1px solid var(--gray);
  border-radius: 16px;
  padding: 6px 8px;
  margin: 0 0 0 0.8em;
  cursor: pointer;
}

.indicator {
  position: absolute;
  top: -8px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
  transition: all 0.1s ease-in;
}
