@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
}

:root {
  --default: #0d1333;
  --gray: #f0f3fa;
  --red: #ff7368;
  --blue: #4c94fe;
  --green: #6ecf63;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default);
}
