.company {
  width: 200px;
}

.company img {
  max-width: 100%;
}

.leftContent {
  width: calc(100% - 420px);
  position: relative;
  background-color: rgb(245, 245, 245);
  height: 100%;
  display: inline-block;
}
